@model Crypts_And_Coders.Models.DTOs.EnemyDTO

@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Styles/StyleSheet.css" type="text/css" />
    <title>Enemy</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div class="delete-container">
        <h4>Enemy</h4>
        <p>Species: @Model.Species</p>
        <p>Type: @Model.Type</p>
        <p>Abilities: @Model.Abilities</p>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</body>
</html>