@model List<Crypts_And_Coders.Models.DTOs.EnemyDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Enemies</title>
</head>

<body>
    <header>
        <div class="dropdown show">
            <span class="lead">CRYPTS & CODERS</span>
            <a class="btn btn-secondary" href="Home">Home</a>
            <a class="btn btn-secondary" href="CharactersView">Characters</a>
            <a class="btn btn-secondary" href="LocationsView">Locations</a>
            <a class="btn btn-secondary" href="#">Enemies</a>
            <a class="btn btn-secondary" href="AboutUsView">About Us</a>
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Actions
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="EnemiesView/Create">Create</a>
                <a class="dropdown-item" href="EnemiesView/Edit">Update</a>
                <a class="dropdown-item" href="EnemiesView/Delete">Delete</a>
            </div>
        </div>
    </header>

    <main>
        <div class="row">
            @foreach (var item in Model)
            {
            <div class="col-sm-3">

                <h3>@item.Species</h3>
                <p>Type: @item.Type</p>
                <p>Ability: @item.Abilities</p>
                <span>Loot: </span>
                @foreach (var lootItem in item.Loot)
                {
                <span>@lootItem.Item.Name, </span>
                }
            </div>
            }
        </div>
    </main>

    <footer>
    </footer>
</body>
</html>