body {
    background-color: #212121;
    text-align: center;
    color: azure;
}

#home-title {
    font-size: 5.5em;
    margin: 100px 0px;
}

.dropdown {
    margin: 20px 0px;
}

main {
    text-align: center;
}

.create-title {
}

.col-md-4 {
    margin: 10px auto;
    border-radius: 5px;
    background-color: #30475e;
}

.col-sm-3 {
    width: auto;
    margin: 25px;
    border-radius: 5px;
    background-color: #30475e;
    padding: 15px;
}

.delete-container {
    width: 50%;
    margin: 30px 0px;
    background-color: #30475e;
    border-radius: 5px;
}

.table {
    color: azure;
}