body {
    background-color: #212121;
    text-align: center;
    color: azure;
}

#home-title {
    font-size: 5.5em;
    margin: 100px 0px;
}

.dropdown {
    margin: 20px 0px;
}

main {
    text-align: center;
}

.col-sm-3 {
    width: auto;
    margin: 25px;
    border-radius: 5px;
    background-color: #30475e;
    padding: 15px;
}