@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>

<head>
    <title>AboutUs</title>
</head>

<body>
    <header>
        <div class="dropdown show">
            <span class="lead">CRYPTS & CODERS</span>
            <a class="btn btn-secondary" href="Home">Home</a>
            <a class="btn btn-secondary" href="CharactersView">Characters</a>
            <a class="btn btn-secondary" href="LocationsView">Locations</a>
            <a class="btn btn-secondary" href="EnemiesView">Enemies</a>
            <a class="btn btn-secondary" href="#">AboutUs</a>

        </div>
    </header>
    <main>
        <div id="aboutFlex1">
           <img src="~/images/lami-pic.jpg"/>
            <p class="">
                Hello, my name is Lami Beach. I was originall in the film industry and transitioned into
                programming. My dream job is to work with video games. In just about any way, shape, or form. I enjoy them because
                they give me a sense of freedom.
            </p>
        </div>



    </main>
    <footer>
    </footer>
</body>
</html>