@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";

}

<!DOCTYPE html>

<html>

<head>
    <title>AboutUs</title>
    <link rel="stylesheet" href="~/Styles/AboutUs.css" type="text/css" />
</head>

<body>
    <header id="headerMain">
        <div class="dropdown show">
            <a class="btn btn-secondary" href="Home">Home</a>
            <a class="btn btn-secondary" href="#">Characters</a>
            <a class="btn btn-secondary" href="LocationsView">Locations</a>
            <a class="btn btn-secondary" href="EnemiesView">Enemies</a>
            <a class="btn btn-secondary" href="ItemsView">Items</a>
            <a class="btn btn-secondary" href="WeaponsView">Weapons</a>
            <a class="btn btn-secondary" href="LogView">Logs</a>
            <a class="btn btn-secondary" href="AboutUs">About Us</a>
        </div>
        <h2 class="lead">CRYPTS & CODERS</h2>
    </header>
    <main>
        <div>
            <img id="lami" src="~/images/lami-pic.jpg" />
            <p id="lami-p">
                Hello, my name is Lami Beach. I was originally in the film industry and transitioned into
                programming. My dream job is to work with video games. In just about any way, shape, or form. I enjoy them because
                they give me a sense of freedom.
            </p>
        </div>
        <div>
            <img id="andrew" src="~/images/andrew-pic.jpg" />
            <p id="andrew-p">
                Before becoming a software engineer, I spent six years in the Air Force as a special forces operator. During my time in the service, I developed a team-oriented mindset and learned how to adapt to changing environments.
                Now that I have separated the military, I am able to transfer those skills into the software development world.
                I have a strong passion for developing innovative code and working with like-minded individuals.
            </p>
        </div>
        <div>
            <img id="nicco" src="~/images/nicco-pic.jpg" />
            <p id="nicco-p">
                My name is Nicholas Ryan and I am 24 year old Software Developer specializing in C# ASP.NET and Full-Stack JavaScript development.
                I graduated from University of Oregon with a Bachelor of Science Degree in Geology in 2018.
                Before I decided to change careers to software development I was a cook and manager in the food service industry.
                I've always loved building things, from Lego to models, and when I first started writing code I got the same satisfaction.
                I love the environment coding creates too, being surrounded by people who are as creative and driven as most programmers is one of the main things that drove me to the career transition.
            </p>
        </div>
    </main>
    <footer>
    </footer>
</body>
</html>