@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>

<html>

<head>
    @*<link rel="stylesheet" href="~/Styles/StyleSheet.css" type="text/css" />*@
    <title>HOME</title>
</head>

<body>
    <header>
        <nav>
            <h1>Crypts & Coders</h1>
            <span>Home</span>
            <a href="CharactersView">Characters</a>
            <a href="LocationsView">Locations</a>
            <a href="EnemiesView">Enemies</a>
        </nav>
    </header>
    <main>
    </main>
    <footer>
    </footer>
</body>
</html>