@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>

<head>
    <title>HOME</title>
    <link rel="stylesheet" href="~/Styles/StyleSheet.css" type="text/css" />
</head>

<body>
    <header>
        <div class="dropdown show">
            <a class="btn btn-secondary" href="#">Home</a>
            <a class="btn btn-secondary" href="CharactersView">Characters</a>
            <a class="btn btn-secondary" href="LocationsView">Locations</a>
            <a class="btn btn-secondary" href="EnemiesView">Enemies</a>
            <a class="btn btn-secondary" href="ItemsView">Items</a>
            <a class="btn btn-secondary" href="LogView">Logs</a>
            <a class="btn btn-secondary" href="WeaponsView">Weapons</a>
            <a class="btn btn-secondary" href="AboutUs">About Us</a>
        </div>
    </header>
    <main>
        <p id="home-title" class="lead, align-middle">CRYPTS & CODERS</p>
    </main>
    <footer>
    </footer>
</body>
</html>