@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>

<head>
    <title>HOME</title>
</head>

<body>
    <header>
        <div class="dropdown show">
            <span class="lead">CRYPTS & CODERS</span>
            <a class="btn btn-secondary" href="#">Home</a>
            <a class="btn btn-secondary" href="CharactersView">Characters</a>
            <a class="btn btn-secondary" href="LocationsView">Locations</a>
            <a class="btn btn-secondary" href="EnemiesView">Enemies</a>
            <a class="btn btn-secondary" href="AboutUs">AboutUs</a>

        </div>
    </header>
    <main>
    </main>
    <footer>
    </footer>
</body>
</html>