@model List<Crypts_And_Coders.Models.DTOs.LocationDTO>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>

<head>
    <title>Locations</title>
</head>

<p>
    <a asp-action="Create">Create New</a>
</p>

<header>
    <h1>Locations</h1>
</header>

<main>
    <div>
        @foreach (var item in Model)
        {
            <h3>@item.Name</h3>
            <p>Description: @item.Description</p>
            <span>Enemies: </span>
            @foreach (var enemy in item.Enemies)
            {
                <span>@enemy.Species, </span>
            }
        }
    </div>
</main>

<footer>
</footer>
</html>